{% extends "layout.html" %}
{% block content %}
  <div class="home">
      <p><p>
      <p><p>
      <article>
        <h1>Kitty 3000 by Kitty Labs!</h1>
        <p></p>
      </article>
      <article>
        <h1>Treats Remaining: {{treats_remaining}}</h1>
        <p></p>
      </article>
      
    <!--  <div class="tenor-gif-embed" data-postid="25425929" data-share-method="host" data-aspect-ratio="1.37931" data-width="50%"><a href="https://tenor.com/view/nyan-cat-gif-25425929">Nyan Cat GIF</a>from <a href="https://tenor.com/search/nyan+cat-gifs">Nyan Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>-->
    
    <a href="/dispense"
    <p><p>

    <button class="glow-on-hover" type="button"> Dispense a Treat Please!</button>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
   
    
    
  </div>
{% endblock %}
